@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #f7f6fc;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(93, 98, 117, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(32, 36, 49, 0.5);
}
