/* start react-slit */
.slick-slide > div {
  display: grid;
  place-items: center;
  width: 100%;
  margin: auto;
}

@media (max-width: 760px) {
  .slick-slide > div {
    padding: 0px 10px 0px 10px;
  }
}
/* end react-slit */
